header{
  background-color: black;
}
.navbar{
  display: flex;
  align-items: center;
}

.active{
  background-color: burlywood;
}

.list-pack{
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}
li{
  list-style-type: none;
}

a{
  text-decoration: none;
  padding: 20px;
  color: white;
}

.logo{
  width: 150px;
  height: 100px;
}

.header-image{
  width: 100%;
}

.items-container{
  max-width: 1600px;
  margin: 40px auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.item-card{
text-align: center;
padding: 20px;
border-radius: 10px;
box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
}

.item{
  max-width: 200px;
  height: 200px;
}

footer{
  background-color: Black;
  padding: 30px;
  color: antiquewhite;
  text-align: center;
}

.small-list-pack{
  display: none;
}

@media (max-width:1139px){
  .small-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
  }
  .navbar{
    display: none;
  }
  .list-pack{
    display: none;
  }
  .list-pack-open{
    display: block;
    margin: 0;
    padding:40px 20px 20px
  }
}

@media (min-width:1140px){
  .small-navbar{
    display: none;
  }
}

@media (max-width:768px){
  .items-container{
    grid-template-columns: auto auto;
  }
}

@media (max-width:520px){
  .items-container{
    grid-template-columns: auto;
  }
}

/* About us mission */
ul{
  padding: 0;
}

li{
  padding: 20px 0px;
}

.about-us{
height: calc(100% - 263px);
}

.about-mission{
  display: flex;
  gap: 50px;
  padding: 20px;
  /* align-items: center; */
  justify-content: center;
  margin:50px 0;
}